### Python ###
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyi
*.so
*.egg-info/
*.egg
.pytest_cache/
.mypy_cache/

### Virtual Environment ###
venv/
.venv/
env/
ENV/

### Django ###
*.log
*.pot
*.pyc
*.mo
*.sqlite3
*.sqlite
db.sqlite3
media/
staticfiles/

### Environment ###
.env
.env.local
.env.*.local
.env.dev
.env.prod
.env.test
secrets.json
staticfiles_auth
### IDE ###
.vscode/
.idea/
*.swp
*.swo
*~

### OS ###
.DS_Store
Thumbs.db
desktop.ini

### Frontend ###
node_modules/
.vite/
dist/
.env


### Database migrations (optional) ###
# migrations/